version: '3.11.9'
services:
  django:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=1
  redis:
    image: redis
    ports:
      - "6379:6379"
